### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
bh_unicode_properties.cache
GitHub.sublime-settings

### PhpStorm ###
.idea

### Sass ###
*.sass-cache/
*.css.map

## npm ##
node_modules/
_node_modules
node_modules
.php_cs.cache

## Yarn ###
yarn-error.log
